@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  color: #EEE;
  border: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
}

header {
  position: relative;
  top: -10rem;
  display: flex;
  align-items: center;
  transition: 2s;
}

header.active {
  top: 0;
}

.me {
  background: url("pics/me.JPG") no-repeat top;
  background-size: 125%;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  margin: 2rem;
  border: 1px solid #EEE;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #040;
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 50rem;
}

.about-content p {
  font-size: 1.25rem;
  margin: 1rem 2rem;
  text-align: center;
}

h2 {
  padding: 1rem;
  border-bottom: 1px solid #EEE;
  margin: 0 0 1rem 0;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.tools-content {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool p {
  font-size: 1.25rem;
  margin: 1rem;
}

.icon {
  width: 4.5rem;
  height: 5rem;
}

#html-icon {
  background: url("pics/html5.png") no-repeat;
  background-size: 100%;
  width: 5rem;
}

#css-icon {
  background: url("pics/css.png") no-repeat;
  background-size: 100%;
}

#js-icon {
  background: url("pics/js.png") no-repeat;
  background-size: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #040;
  width: 100%;
}

.projects-content {
  width: 100%;
  max-width: 60rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
}

.project {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
  padding: 0 1rem 1rem 1rem;
  background: #020;
  border-radius: 25px;
}

.project p {
  font-size: 1.5rem;
  margin: 1rem;
}

.screenshot {
  width: 20rem;
  height: 17.5rem;
  border-radius: 15px;
}

#calculator-preview {
  background: url("pics/calculator.png") no-repeat;
  background-size: 100%;
}

#sketch-preview {
  background: url("pics/sketch.png") no-repeat;
  background-size: 100%;
}

#rps-preview {
  background: url("pics/rps.png") no-repeat;
  background-size: 100%;
}

#portfolio-preview {
  background: url("pics/portfolio.png") no-repeat;
  background-size: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.buttons a {
  font-size: 1.25rem;
  background: #EEE;
  border-radius: 15px;
  color: #111;
  padding: 0 1rem;
  margin: .5rem;
}

.buttons a:hover {
  background: #AAA;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0 3rem 0;
}

.form-content {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 90%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  background: #222;
}

form label {
  font-size: 1.5rem;
  margin: .5rem;
}

form input,
textarea {
  font-size: 1.25rem;
  color: #111;
  background: #EEE;
  width: 75%;
  max-width: 40rem;
  height: 2rem;
  border-radius: 15px;
  text-align: center;
}

#msg {
  height: 10rem;
  resize: none;
}

form button {
  background: #EEE;
  width: 60%;
  max-width: 30rem;
  height: 2rem;
  border-radius: 15px;
  margin: 1rem;
  color: #111;
  font-size: 1.5rem;
}

form button:hover {
  background: #AAA;
  cursor: pointer;
}

@media only screen and (min-width: 961px) {
  .projects-content {
    grid-template-columns: repeat(2, 1fr);
  }
}