@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  color: #EEE;
  border: none;
}

.text.active {
  color: #111;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  transition: 1s;
}

body.active {
  background: #EEE;
}

header {
  position: relative;
  top: -10rem;
  display: flex;
  align-items: center;
  transition: 2s;
}

header.active {
  top: 0;
}

.me {
  background: url("me.JPG") no-repeat top;
  background-size: 125%;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  margin: 1rem;
  border: 4px solid #EEE;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 2px solid #EEE;
}

section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

section ul li {
  font-size: 1.5rem;
  margin: .25rem;
  text-align: center;
}